
.hot{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding:1.6em 0 0 0 ;
}
.one,.two,.three{
    display: inline-table;
    text-align: center;
}
.one>p,.two>p,.three>p{
    margin: 0;
}
.hotDiv{
    height: 12em;
    position: relative;
}
.one{
    position: absolute;
    top: 1em;
    left: 43%;
 }
.two{
    position: absolute;
    top: 4em;
    left: 2em;
}
.three{
    position: absolute;
    top: 4em;
    right: 2em;
}
.hot img{
    vertical-align:middle;
}
.total{
    width: 9.6em;
    margin: 0 23%;
}