*{
    margin: 0;
    padding: 0;
    color: darkgrey;
    font-family:sans-serif;
}
.xiaDiv{
    border: 1px solid white;
    border-radius: 100%;
    width: 4em;
    height: 4em;
    margin: 0 auto;
}
.xiaB{
    background-color: white;
    border-radius: 100%;
    width: 1em;
    height: 1em;
}
.xiaZ{
    background-color: white;
    border-radius: 100%;
    width: 2.2em;
    height: 2.2em;
    margin: 0 auto;
}
.xia{
    margin-top: 31%;
}
.xia>p{
    color: white;
    text-align: center;
    margin-top: -12%;
}